<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="styles/style.css">

    <title>Boolflix</title>
</head>
<body>
    <div id="app" class="main-container">

        <header>
            <div class="header-container">
                <div class="logo-container">
                    <a href="#">
                        <img src="img/boolflix-logo.png" alt="logo Boolflix">
                    </a>
                </div>
              
                <div class="input-container">
                    <div class="input-style">
                        <input type="text"
                        placeholder="Search for Movies & TV Shows..." 
                        v-model="userSearch"
                        @keyup.enter="onSearchClick()">
                        
                        <i class="fas fa-search"
                        @click="onSearchClick()"></i>
                    </div>
                </div>
    
                <div class="personal-profile">
                    <a href="#" class="xs-hidden">
                        KIDS
                    </a>
                    <a href="#">
                        <i class="fas fa-bell"></i>
                        <span class="alert">2</span>
                    </a>
                    <a href="#">
                        <div class="profile-img-container">
                            <img src="img/profile.pic.jpg" alt="profile picture">
                        </div>
                        <i class="fas fa-sort-down xs-hidden"></i>
                    </a>
                </div>
            </div>
        </header>

        <main>
            <div v-if="moviesTVList.length > 0">
                <h5 class="user-search"> Hai cercato "{{ currentSearch }}" </h5>

                <div class="row" >
                    <ul class="search-movie-container">

                        <li v-for="(movie, index) in moviesTVList"> 
                            <div class="poster-container">

                                <img :src="addPoster(movie)" alt="poster movie">
                                <div class="overlay">
                                    <div class="info-block">
                                        <div class="upper-info">
                                            <div>
                                                <span>Titolo</span>
                                                <h4>{{movie.title}}</h4>
                                            </div>
    
                                            <div v-if="checkIfSame(movie)">
                                                <span>Titolo originale</span>
                                                <h4>{{movie.original_title}}</h4>
                                            </div>
    
                                            <div>
                                                <h4 class="inline">
                                                    Lingua originale
                                                </h4>
                                                <span class="flag-icon flag-icon-squared" 
                                                :class="'flag-icon-' + getFlagIcon(movie)">
                                                </span> 
                                            </div>
    
                                            <div>
                                                <h4 class="inline">
                                                    Voto  
                                                </h4>
                                                <i class="fas fa-star" 
                                                v-for="(star, starIndex) in 5"
                                                :class="addStars(movie, starIndex)"></i>
                                            </div>
                                            <div>
                                                <h4>Attori principali</h4>
                                                <p v-if="movie.cast">
                                                    <span class="inline cast-member"
                                                    v-for="actor in movie.cast.slice(0, 5)">
                                                        {{ actor.original_name }}
                                                        <span> &nbsp; </span>
                                                    </span>
                                                </p>
                                            </div>
                                            <div>
                                                <h4>Genere</h4>
                                                <p>
                                                    {{ getGenres(movie) }}
                                                </p>
                                            </div>
                                        </div>

                                        <div class="overview-box"
                                        v-if="movie.overview">
                                            <h4>Sinossi</h4>
                                            <p> {{movie.overview}} </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <div v-else-if="moviesTVList.length == 0">  
                <strong>{{ errorMsg }}</strong>
            </div>
        </main>
        


    </div>

    <script src="scripts/app.js"></script>
</body>
</html>

    
<!-- <h3>SERIE TV</h3>
<ul>
    <li v-for="(movie, index) in seriesTvList">
        <img :src="addPoster(movie)" alt="poster movie">
        <p>Titolo: <strong>{{movie.title}}</strong> </p>
        <p>Titolo originale: <strong>{{movie.original_title}}</strong> </p>
        <p>Lingua originale: <span class="flag-icon flag-icon-squared" :class="'flag-icon-' + getFlagIcon(movie)"></span> 
        <p>Voto: {{movie.vote_average}}</p>
        <p>
            Voto:  
            <i class="fas fa-star" 
            v-for="(star, starIndex) in 5"
            :class="addStars(movie, starIndex)"></i>
        </p>      

    </li>
</ul> -->