* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --red: #e40b18;
    --bgColor: #141414;
    --whiteColor: rgb(243, 253, 251);
    --yellowStar: rgb(255, 207, 102);
    --lightGrey: rgb(189, 189, 189);
    --darkerGrey: #757171;
}

body {
    background-color: var(--bgColor);
    color: var(--whiteColor);

    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    width: 98%;
    margin-left: 2%;
    margin-right: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding: 20px;
}

.header-container {
    display: flex;
    align-items: center;
}

.logo-container {
    width: 15%;
    max-width: 120px;
    min-width: 80px;
    flex-shrink: 0;
}

.logo-container img, 
.profile-img-container img {
    width: 100%;
}

/* INPUT SEARCH BAR */
.input-container {
    flex-grow: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.input-style {
    width: clamp(450px, 50%, 80%);

    padding: 8px 16px;
    border: 1px solid  var(--lightGrey);
    border-radius: 16px;

    color: var(--whiteColor);

    display: flex;
    margin: 0 1.3rem;

}

.input-container input {
    flex-grow: 1;
    border: 0;
    border-radius: 16px;

    background-color: transparent;
    color: var(--whiteColor);

    outline: none;
}

.input-container input::placeholder {
    color: var(--lightGrey);
}

.input-container i {
    cursor: pointer;
}

/* HEADER PARTE DESTRA */
.personal-profile {
    display: flex;
    align-items: center;
}

.profile-img-container {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    overflow: hidden;

    display: inline-block;
    vertical-align: middle;

    margin-left: 10px;
    margin-right: 5px;
}

.personal-profile i {
    font-size: 1.3rem;
    color: var(--whiteColor);
}

.personal-profile a {
    display: inline-block;
    position: relative;

    margin: 0 10px;
}

.personal-profile .alert {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--red);
    text-align: center;
    line-height: 20px;

    font-size: .8rem;
    font-weight: 700;

    position: absolute;
    right: -10px;
    top: -10px;
}


/* MAIN */

main {
    margin-top: 80px;
}

.row {
    overflow: auto;

}

.search-movie-container {
    display: flex;
   
    /* overflow: auto; */

    margin: 20px 0;
}

h5.user-search {
    font-size: 1.2rem;
}

.search-movie-container::-webkit-scrollbar,
.poster-container:hover .overview-box::-webkit-scrollbar {
    display: none;
}

.search-movie-container li {
    margin-right: 8px;
}

.poster-container {
    width: clamp(150px, 300px, 500px);
    height: clamp(200px, 450px, 600px);

    cursor: pointer;

    position: relative;
}

.poster-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.img-container {
    width: 100%;
    height: 100%;
    position: relative;
}

/* LOGO SERIE TV O FILM */
.movie-logo-tag {
    position: absolute;
    bottom: 20px;
    left: 0;

    background-color: var(--red);
    color: var(--whiteColor);
    padding: 10px 18px;
    border-radius: 0 10px 10px 0;

    font-weight: 800;

    box-shadow: 0 2px 5px var(--bgColor);
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1;
    border-radius: 5px;

    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
}

.poster-container:hover .overlay {
    opacity: 1;
}

.poster-container .info-block {
    padding: 20px;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.info-block .overview-box {
    overflow: auto;
    max-height: 150px;
    margin: 0;
}

.overlay p,
.overlay span {
    font-size: .75rem;
    line-height: 1rem;
}

.info-block .cast-member {
    font-size: .75rem;
    margin: 0;
    font-style: normal;
}

.upper-info span {
    font-style: italic;
}

.overlay h4 {
    font-size: .8rem;
}

.overlay .fa-star {
    font-size: .75rem;
}

.info-block div {
    margin: 5px 0; 
}

.upper-info {
    min-height: 50%;
}

.text-button {
    border: 0;
    background-color: transparent;
    color: var(--whiteColor);
    font-weight: 700;
    font-size: .8rem;
    cursor: pointer;
}
.text-button:hover {
    color: var(--lightGrey)
}



/* CLASSI COMUNI */

a {
    color: var(--whiteColor);
    text-decoration: none;
}

.inline {
    display: inline-block;
}


/* SCROLLBAR */
::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, var(--red) 14%,var(--red) 64%);
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(13deg, var(--red) 14%, #f16969 86%);
}
::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 15px;
    box-shadow: inset 7px 10px 12px var(--darkerGrey);
}


/* CLASSI JS */
.fa-star.text-yellow {
    color: var(--yellowStar);
}
.fa-star {
    color: var(--lightGrey);
}


@media all and (max-width: 576px) {

    .personal-profile .xs-hidden {
        display: none;
    }
} 